body {
    background-color: rgb(180, 180, 180);
    color: rgb(50, 50, 100);
    text-align: center;
}

a {
    color:aliceblue;
    text-decoration: none;
}

a:hover {
    color:aliceblue;
    text-decoration: underline;
}