<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Página secundária</title>
</head>
<body>
    <h1>Deixa eu te perguntar</h1>
    <form action="/seila/save" method="post">
        <div>
            <input type="text" name="name" placeholder="Digite seu nome">
        </div>
        <div>
            <input type="number" name="idade" placeholder="Digite sua idade em anos">
        </div>
        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
</body>
</html>